{%extends 'shelter/base.html' %}
{% block content %}

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Приют для кошек "Кошкодом" </h1>
        <p class="lead text-body-secondary">Наш приют представят заботу и любовь каждому котику</p>
        <h2>Наши кошки</h2>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       <p>Стартовая страница</p>
      </div>
    </div>
  </div>


{% endblock %}