{% extends 'shelter/base.html' %}
{% block content %}
<div>
    <div class="container">
        <h1 class="my-5">Миссии и ценности</h1>
        <hr>
        <div>
            <h4><strong>МИССИЯ</strong></h4>
            <p><span style="font-weight: 400;">Мы создаем культуру заботы о животных, для того, чтобы бездомные кошки и собаки перестали быть проблемой.</span>
            </p>
        </div>

        <div class="mt-3">
            <h4><strong>ЦЕННОСТИ</strong></h4>
            <p><b>Ответственность: мы </b><span style="font-weight: 400;">осознаем  ответственность за благополучие бездомных животных и стремимся  к минимизации негативных последствий своей деятельности. Мы создаем приюты, где учитываются потребности каждого животного, попадающего туда. Где соблюдаются концепции “5 свобод животных” , где на любом уровне работают профессионалы, где есть контроль качества работы и состояния животных. Учим людей быть ответственными владельцами животных и занимаемся профилактикой бездомности животных.</span>
            </p>
            <p><b>Профессионализм: мы постоянно </b><span style="font-weight: 400;"> развиваемся  и совершенствуем свои  навыки и знания специалистов, работающих в организации и непосредственно  с животными. Это позволяет эффективно решать возникающие проблемы и оказывать  качественную и профессиональную помощь животным на всех уровнях.</span>
            </p>
            <p><b>Уважение к природе: мы </b><span style="font-weight: 400;">понимаем  важность сохранения естественных экосистем и бережного отношения  к окружающей среде. </span>
            </p>
        </div>

    </div>
</div>




<div class="container">
    <div class="row d-flex justify-content-center align-items-center flex-wrap">
        <hr>
        <div class="col-md-7">
            <div class="my-auto">
                <h4>История приюта</h4>
                <div class="mt-3">
                    <p><span style="font-weight: 400;">Приют «Кошкодом» открылся в 2020 году на волонтёрских началах. Началась всё с простого желания приютить кота.</span></p>
                    <p><span style="font-weight: 400;">Организовать что-то своё в планы не входило, но обстоятельства сложились по-другому. Приют организовывали спешно. Ремонт сделали своими силами, оборудование и мебель помогли найти неравнодушные люди.</span></p>
                    <p><span style="font-weight: 400;">4 года назад всё держалось на голом энтузиазме: не было финансовых ресурсов, поддержки, знаний и лишних рук, зато была любовь и нежелание бросать животных на произвол судьбы.</span></p>
                    <p><span style="font-weight: 400;">Со временем экстренное убежище для бездомных животных превратилось в большое функциональное пространство с комфортными условиями </span></p>
                    <p><span style="font-weight: 400;">В «Кошкодоме» живут разные кошки. И те, кто обязательно найдёт семью, и те, у кого в силу диагнозов или состояния, мало шансов на пристройство. Все они получают уход, терапию и утешение наравне со всеми остальными.</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="text-center">
                <img height="400" src="/media/information/team_shelter.jpg" alt="Команда" class="img-fluid">
            </div>
        </div>
    </div>
    <hr>
    <div class="row d-flex justify-content-center align-items-center flex-wrap">
        <div class="col-md-7">
            <div class="mt-5">
                <div>
                    <p><span style="font-weight: 400;">За годы работы приюта больше 100 котов обрели семью, где их любят и берегут, но в глобальном смысле миссия приюта — не просто пристроить подопечных, а сделать так, чтобы бездомные кошки в принципе не становились такими.</span></p>
                    <p><span style="font-weight: 400;">Приют «Кошкодом» прошёл долгий и сложный путь. История на этом не заканчивается. В планах — строительство Центра помощи животным. Он объединит в себе приют для кошек, волонтёрский центр, ветеринарную клинику и центр, где будущие владельцы смогут получить консультацию зоопсихолога, кинолога и других специалистов.</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="text-center">
                <img height="400" src="/media/information/shelter.jpg" alt="Приют" class="img-fluid">
            </div>
        </div>
        <hr class="mt-5">
    </div>
</div>



{% endblock %}